.row.align-start.recommendation.padding-vertical60.padding-left20.padding-right40
  .padding-left40
    = image_tag '/images/antoine_neveux.jpeg', alt: 'Person Name', height: '115', width: '115', class: 'avatar'
  .row.align-start
    .quote-text.margin-top20.padding-left20
      "
    .column.recommendation-bg.flex1.padding-left20.padding-right40.align-start
      .title.margin-top20
        GitLab is the backbone of our development environment. Today we have 2,500 people working on that for us daily
      .text.margin-top20
        Software Engineering- Kazan Team, Worldline
      .autor.margin-top20
        Antoine Neveux
      = image_tag "/images/organizations/logo_worldline.svg", class: "accelerated-img margin-top20"
    .column.flex1.padding-left20.padding-top50.align-start.padding-right40
      .text-highlight
        Our model required having to request the manual creation of an SVN repository which could take up to a week
      .text.margin-top20
        We started using GitLab because we wanted to get an easy Git repository management system and because we wanted people to be able to use merge requests, we wanted the ability to have more code reviews and to ease discussions between developers.
